.calculatorContainer {
  flex: 2;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.section {
  padding-bottom: 2rem;
}
