<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="EV Calc">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>📸 EV Calculator</title>
</head>

<body>
  <div id="app-root"></div>

  <script src="/components/main.bundle.js" charset="utf-8"></script>
</body>

</html>
